:local(.auth) {
  background-color: white;
  height: 100vh;
  padding-top: 3rem;
  form {
    background-color: #ccc;
    width: fit-content;
    margin: 0 auto 3rem auto;
    padding: 2rem 2rem 4.5rem 2rem;
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    input {
      font-size: 1em;
      margin-bottom: 1rem;
      padding: 0.2rem;
    }
    button {
      width: fit-content;
      height: fit-content;
      float: right;
      padding: 0.5rem;
    }
  }
  h5 {
    text-align: center;
  }
  a {
    color: #e64650;
  }
}