li {
  background-color: white;
  padding: 1rem;
  margin: 2rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
}