button {
  font-size: 1.5em;
  color: #333;
  width: 1.5em;
  height: 1.5em;
  margin: 0.2rem;
}

button:hover {
  background-color: #bbb;  
}

button:active {
  background-color: #888;  
}

button[disabled] {
  color: #bbb;
  background-color: white;
}

.results-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5em;
  width: 66%;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}

.results-info {
}

.page-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-info h2 {
  margin-right: 0.5rem;
}