:local(.item-detail) {
  color: #333;  
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    margin-top: 1rem;
    width: 500px;    
  }
  span {
    font-style: oblique;
  }
  p {
    margin-top: 0.7rem;
    width: 500px;
  }
  a {
    margin-top: 1rem;
    margin-bottom: 0;
    display: block;
    align-self: flex-end;
    color: #777;
    cursor: pointer;
  }
}