:local(.search) {
  border-top: 0.5em solid #ccc;
  background-color: white;
  padding-bottom: 2rem;
  label {
    font-size: 1.15em;
    line-height: 3em;
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
  input {
    // height: 3em;
    // width: 3em;
    // vertical-align: middle;
    margin: 2.1rem 0.5rem 0.5rem 0.5rem;
  }
}

